## Lesson 4 Overview

 * Read csv file
 * List contents of the csv file
 * Redo lesson 3 questions after reading csv
 * Sum all steps, average daily total steps, per team, per person
 * Top 3 steps count, top teams

## Let's load today's lesson!

### Open Azure Notebooks library 

Go to https://notebooks.azure.com -> Sign in if needed -> Select **python-codeacademy-sg**

### Update lesson file to latest version

Select **New** -> **From URL** -> input https://raw.githubusercontent.com/viettrung9012/python-codeacademy-sg/master/Lesson4.ipynb (URL is available in **Lesson4.ipynb**) -> Click outside input then select **Upload** (overwrite if needed)

### Open Jupyter lab

From your browser's bookmark or **Run** -> Change browser URL path from **/nb/tree** to **/nb/lab**

Select **Lesson4.ipynb**

## Read csv file

### What is csv file?

A CSV is a comma separated values file which allows data to be saved in a table structured format. CSVs are a kind of spreadsheet same with Excel but with a .csv extension. Traditionally they take the form of a text file containing information separated by commas, hence the name.

** Content in CSV Sample **

The followings are the part of data from Biggest Loser:

team_no,team_name,team_captain,team_member,2018-04-02,2018-04-03

1,TBD,FALSE,1-1,11980,10437

1,TBD,FALSE,1-2,22935,13399

However, csv file is a table, as we are familiar with Excel, to make it more clear, we can have a comparison with Excel we generally use in our daily work, the first row is the coloumn name. Start from the second row, they are the specific information of each person.

You can open csv file by textEditer, you'll see the content same as above.
If you can open it with Excel, then it has the same lookings as .xml file.


## How to read csv file in Python? ##

To read and analyse the data, I recommend Pandas Library to implement the data analysis.

### What is Pandas ###

Pandas stands for “Python Data Analysis Library”. According to the Wikipedia page on Pandas, “the name is derived from the term “panel data”, an econometrics term for multidimensional structured data sets.” But I think it’s just a cute name to a super-useful Python library!

http://pandas.pydata.org/

In [123]:
### Print CSV file
import pandas
df = pandas.read_csv('Biggest Loser 2018.csv')
df.head()

,team_no,team_name,team_captain,team_member,2018-04-02,2018-04-03,2018-04-04,2018-04-05,2018-04-06,2018-04-07,...,2018-04-20,2018-04-21,2018-04-22,2018-04-23,2018-04-24,2018-04-25,2018-04-26,2018-04-27,2018-04-28,2018-04-29
0,1,TBD,False,1-1,11980.0,10437,17616,24586,16136.0,13700,...,7709.0,534.0,13465.0,7341.0,11230.0,7878.0,11029.0,8790.0,9006.0,21942.0
1,1,TBD,False,1-2,22935.0,13399,25098,29581,26121.0,12805,...,12267.0,9364.0,1061.0,6075.0,11188.0,11472.0,10150.0,13023.0,6769.0,10165.0
2,1,TBD,True,1-3,16272.0,17231,20595,17047,15216.0,42590,...,16072.0,41673.0,13425.0,11262.0,7801.0,6666.0,5276.0,11353.0,5344.0,6282.0
3,1,TBD,False,1-4,10233.0,16120,12897,24680,13060.0,20489,...,5804.0,11080.0,6245.0,7611.0,8401.0,5596.0,6491.0,7637.0,7610.0,9130.0
4,1,TBD,False,1-5,14126.0,14110,10111,20440,21416.0,16989,...,10459.0,5091.0,6329.0,6784.0,6543.0,17984.0,13588.0,11077.0,7856.0,20897.0

In [124]:
# Print total stpes per person
import pandas
df = pandas.read_csv('Biggest Loser 2018.csv')
df_new = df.drop(['team_no','team_captain'], axis=1)
df_new.head()
df_new.sum(axis=1).head(8)

0    348361.0
1    362173.0
2    419816.0
3    315216.0
4    375431.0
5     79246.0
6     59449.0
7    313285.0
dtype: float64

In [125]:
#Drop first column
import pandas
df = pandas.read_csv('Biggest Loser 2018.csv')
df_new = df.drop(['team_no','team_captain'], axis=1)
df_new.head(8)

,team_name,team_member,2018-04-02,2018-04-03,2018-04-04,2018-04-05,2018-04-06,2018-04-07,2018-04-08,2018-04-09,...,2018-04-20,2018-04-21,2018-04-22,2018-04-23,2018-04-24,2018-04-25,2018-04-26,2018-04-27,2018-04-28,2018-04-29
0,TBD,1-1,11980.0,10437,17616,24586,16136.0,13700,39812.0,9195.0,...,7709.0,534.0,13465.0,7341.0,11230.0,7878.0,11029.0,8790.0,9006.0,21942.0
1,TBD,1-2,22935.0,13399,25098,29581,26121.0,12805,16073.0,15124.0,...,12267.0,9364.0,1061.0,6075.0,11188.0,11472.0,10150.0,13023.0,6769.0,10165.0
2,TBD,1-3,16272.0,17231,20595,17047,15216.0,42590,10969.0,20687.0,...,16072.0,41673.0,13425.0,11262.0,7801.0,6666.0,5276.0,11353.0,5344.0,6282.0
3,TBD,1-4,10233.0,16120,12897,24680,13060.0,20489,10230.0,25565.0,...,5804.0,11080.0,6245.0,7611.0,8401.0,5596.0,6491.0,7637.0,7610.0,9130.0
4,TBD,1-5,14126.0,14110,10111,20440,21416.0,16989,25371.0,21539.0,...,10459.0,5091.0,6329.0,6784.0,6543.0,17984.0,13588.0,11077.0,7856.0,20897.0
5,Sole Striders,2-1,7434.0,11482,8679,14780,13221.0,16870,6780.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Sole Striders,2-2,6545.0,7232,7629,6322,6290.0,6269,5003.0,6128.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Sole Striders,2-3,2751.0,10808,5734,13583,13052.0,10474,7000.0,16006.0,...,3661.0,9431.0,10599.0,14678.0,10434.0,7891.0,14187.0,16152.0,27417.0,30719.0

## PrintStepsByName ##

In [126]:
import pandas as pd
steps = pd.read_csv('Biggest Loser 2018.csv')
def printStepsByName(name):
    if steps[steps['team_member'] == name].size > 0:
        return steps[steps['team_member'] == name]
    else:
        return "Sorry, I couldn't find the name"
printStepsByName("1-1")

# df_new = df.drop(['team_no','team_captain'], axis=1)
# df_new.head(8)

,team_no,team_name,team_captain,team_member,2018-04-02,2018-04-03,2018-04-04,2018-04-05,2018-04-06,2018-04-07,...,2018-04-20,2018-04-21,2018-04-22,2018-04-23,2018-04-24,2018-04-25,2018-04-26,2018-04-27,2018-04-28,2018-04-29
0,1,TBD,False,1-1,11980.0,10437,17616,24586,16136.0,13700,...,7709.0,534.0,13465.0,7341.0,11230.0,7878.0,11029.0,8790.0,9006.0,21942.0

In [127]:
import pandas as pd
steps = pd.read_csv('Biggest Loser 2018.csv')
def printNamesByFilter(amount):
    df_new = df.drop(['team_no','team_captain'], axis=1)
    return df[df_new.sum(axis=1) > amount]['team_member']
# printNamesByFilter(100000)
# printNamesByFilter(200000)
printNamesByFilter(400000)

2     1-3
20    5-1
37    8-3
Name: team_member, dtype: object

In [128]:
#Total Steps
import pandas as pd
steps = pd.read_csv('Biggest Loser 2018.csv')
df_new = steps.drop(['team_no','team_captain'], axis=1)
df_new.sum(axis=1)
steps['Total Steps'] = pd.Series(df_new.sum(axis=1))
steps.head()

,team_no,team_name,team_captain,team_member,2018-04-02,2018-04-03,2018-04-04,2018-04-05,2018-04-06,2018-04-07,...,2018-04-21,2018-04-22,2018-04-23,2018-04-24,2018-04-25,2018-04-26,2018-04-27,2018-04-28,2018-04-29,Total Steps
0,1,TBD,False,1-1,11980.0,10437,17616,24586,16136.0,13700,...,534.0,13465.0,7341.0,11230.0,7878.0,11029.0,8790.0,9006.0,21942.0,348361.0
1,1,TBD,False,1-2,22935.0,13399,25098,29581,26121.0,12805,...,9364.0,1061.0,6075.0,11188.0,11472.0,10150.0,13023.0,6769.0,10165.0,362173.0
2,1,TBD,True,1-3,16272.0,17231,20595,17047,15216.0,42590,...,41673.0,13425.0,11262.0,7801.0,6666.0,5276.0,11353.0,5344.0,6282.0,419816.0
3,1,TBD,False,1-4,10233.0,16120,12897,24680,13060.0,20489,...,11080.0,6245.0,7611.0,8401.0,5596.0,6491.0,7637.0,7610.0,9130.0,315216.0
4,1,TBD,False,1-5,14126.0,14110,10111,20440,21416.0,16989,...,5091.0,6329.0,6784.0,6543.0,17984.0,13588.0,11077.0,7856.0,20897.0,375431.0

In [129]:
#Total Steps
import pandas as pd
steps = pd.read_csv('Biggest Loser 2018.csv')
df_new = steps.drop(['team_no','team_captain'], axis=1)
df_new.sum(axis=1)
steps['Total Steps'] = pd.Series(df_new.sum(axis=1))
steps['Total Steps'].sum()

18012952.0

In [130]:
#Total Steps By Team 
import pandas as pd
steps = pd.read_csv('Biggest Loser 2018.csv')
df_new = steps.drop(['team_no','team_captain'], axis=1)
df_new.sum(axis=1)
steps['Total Steps'] = pd.Series(df_new.sum(axis=1))
totalSteps = steps[['team_no','Total Steps']].groupby('team_no')
# totalSteps.size()
totalSteps.sum()
# totalSteps.count()

         Total Steps
team_no
1          1820997.0
2           954382.0
3          1198137.0
4          1468397.0
5          1641624.0
6          1289305.0
7          1107342.0
8          1484755.0
9          1128860.0
10         1158732.0
11         1364292.0
12         1400931.0
13         1055281.0
14          939917.0

In [131]:
#Total Steps By Team per member
import pandas as pd
steps = pd.read_csv('Biggest Loser 2018.csv')
df_new = steps.drop(['team_no','team_captain'], axis=1)
df_new.sum(axis=1)
steps['Total Steps'] = pd.Series(df_new.sum(axis=1))
totalSteps = steps[['team_no','Total Steps']].groupby('team_no')
totalSteps['Total Steps'].agg('mean')

team_no
1     364199.4
2     190876.4
3     239627.4
4     293679.4
5     328324.8
6     257861.0
7     221468.4
8     296951.0
9     225772.0
10    231746.4
11    272858.4
12    280186.2
13    211056.2
14    187983.4
Name: Total Steps, dtype: float64

In [132]:
#Total Steps By Team Sorted ASC
import pandas as pd
steps = pd.read_csv('Biggest Loser 2018.csv')
df_new = steps.drop(['team_no','team_captain'], axis=1)
df_new.sum(axis=1)
steps['Total Steps'] = pd.Series(df_new.sum(axis=1))
totalSteps = steps[['team_no','Total Steps']].groupby('team_no')
# totalSteps.size()
# totalSteps.sum().sort_index(ascending=False)
totalSteps.sum().sort_values(by='Total Steps', ascending=False)

         Total Steps
team_no
1          1820997.0
5          1641624.0
8          1484755.0
4          1468397.0
12         1400931.0
11         1364292.0
6          1289305.0
3          1198137.0
10         1158732.0
9          1128860.0
7          1107342.0
13         1055281.0
2           954382.0
14          939917.0

In [138]:
#Total Steps By Team Sorted ASC
import pandas as pd
steps = pd.read_csv('Biggest Loser 2018.csv')
df_new = steps.drop(['team_no','team_captain'], axis=1)
df_new.sum(axis=1)
steps['Total Steps'] = pd.Series(df_new.sum(axis=1))
totalSteps = steps[['team_no','Total Steps']].groupby('team_no')
# totalSteps.size()
totalSteps.sum().sort_values(by='Total Steps', ascending=False).head(3)

         Total Steps
team_no
1          1820997.0
5          1641624.0
8          1484755.0